<template id="section-tmp">
    <div class="section">
        <div class="row">
            <div class="col-12 text-right">
                <span class="badge badge-danger badge-pill delete">
                   <i class="fas fa-times delete"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 form-group">
                <label>Main image</label>
                <input
                    class="form-control main"
                    type="file"
                    accept="image/*"
                    required
                />
                <br />
                <div class="form-group">
                    <label>Position</label>
                    <select
                        class="form-control position"
                        required
                    >
                        <% POSITION_LIST.forEach(position => { %>
                            <option value="<%= position %>">
                                <%= position %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="col-6 form-group">
                <label>Secondary image</label>
                <input
                    class="form-control secondary"
                    type="file"
                    accept="image/*"
                    data-not-required="true"
                />
                <br />
                <div class="form-group">
                    <label>Position</label>
                    <select
                        class="form-control position"
                        required
                    >
                        <% POSITION_LIST.forEach(position => { %>
                            <option value="<%= position %>">
                                <%= position %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>
<form action="<%= `${baseUrl}${activePage}` %>" method="post">
    <div id="image-sections" style="padding: 20px 0">
        <% page.slidePaths.forEach(({ main, text }) => { %>
            <div class="section">
                <div class="row">
                    <div class="col-12 text-right">
                        <span class="badge badge-danger badge-pill delete">
                           <i class="fas fa-times delete"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label>Main image</label>
                        <input
                            class="form-control main"
                            type="file"
                            accept="image/*"
                        />
                        <div class="presenter-container">
                            <div class="row" style="min-height: 200px; margin: 10px 0;">
                                <div>
                                    <img class="img-fluid" src="<%= main.src %>">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Position</label>
                            <select
                                class="form-control position"
                                required
                            >
                                <% POSITION_LIST.forEach(position => { %>
                                    <option
                                        value="<%= position %>"
                                        <%= main.position === position ? 'selected' : '' %>
                                    >
                                        <%= position %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <label>Secondary image</label>
                        <input
                            class="form-control secondary"
                            type="file"
                            accept="image/*"
                            data-not-required="true"
                        />
                        <div class="presenter-container">
                            <div class="row" style="min-height: 200px; margin: 10px 0;">
                                <div>
                                    <img class="img-fluid" src="<%= text.src %>">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Position</label>
                            <select
                                class="form-control position"
                                required
                            >
                                <% POSITION_LIST.forEach(position => { %>
                                    <option
                                        value="<%= position %>"
                                        <%= main.position === position ? 'selected' : '' %>
                                    >
                                        <%= position %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <button id="add-section-btn" class="btn btn-light" type="button">Add Images</button>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<script>
  window.baseUrl = '<%= baseUrl %>';
</script>
<script src="/js/fileHelpers.js"></script>
<script src="/js/imageAutopresenter.js"></script>
<script src="/js/home.js"></script>
