<template id="img-coords">
    <div class="col-6 image-grid-data">
        <div class="form-group">
            <label>X Coords</label>
            <input
                name="xCoords"
                class="form-control xCoords"
                placeholder="X Coords"
                required
            />
        </div>
        <div class="form-group">
            <label>Y Coords</label>
            <input
                name="yCoords"
                class="form-control yCoords"
                placeholder="Y Coords"
                required
            />
        </div>
    </div>
</template>
<article>
    <section>
        <h3>Global configs</h3>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="sizes">Sizes</label>
                    <select
                        id="sizes"
                        name="sizes"
                        class="form-control"
                    >
                        <% sizes.forEach(({ id, name }) => { %>
                            <option value="<%= id %>"><%= name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="rowsCountGlobal">Rows Count</label>
                    <input
                        id="rowsCountGlobal"
                        type="number"
                        class="form-control"
                        placeholder="Rows Count"
                        min="1"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="colsCountGlobal">Columns Count</label>
                    <input
                        id="colsCountGlobal"
                        type="number"
                        class="form-control"
                        placeholder="Columns Count"
                        min="1"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="rowHeightGlobal">Row height</label>
                    <input
                        id="rowHeightGlobal"
                        type="number"
                        class="form-control"
                        placeholder="Row height"
                        min="1"
                        required
                    />
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="update">Update</button>
            </div>
        </div>
    </section>
    <hr /><hr />
    <form action="<%= baseUrl %>/portfolio" method="post">
        <h3>Add new</h3>
        <hr />
        <h4>Basic info</h4>
        <div class="form-group">
            <label for="title">Title</label>
            <input
                id="title"
                name="title"
                type="text"
                class="form-control"
                placeholder="Title"
                required
            />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                id="description"
                name="description"
                class="form-control"
                placeholder="Description"
                required
            ></textarea>
        </div>
        <div class="form-group">
            <label for="presentablePicture">Presentable picture</label>
            <input
                id="presentablePicture"
                name="presentablePicture"
                class="form-control"
                placeholder="Presentable picture"
                type="file"
                accept="image/*"
                required
            />
        </div>
        <div class="form-group">
            <label for="mainPicture">Main picture</label>
            <input
                id="mainPicture"
                name="mainPicture"
                class="form-control"
                placeholder="Main picture"
                type="file"
                accept="image/*"
                required
            />
        </div>
        <hr />
        <h4>Position in page</h4>
        <div class="row">
            <div class="form-group col-6">
                <label for="xCoords">X Coords</label>
                <input
                    id="xCoords"
                    name="xCoords"
                    class="form-control"
                    placeholder="X Coords"
                    required
                />
            </div>
            <div class="form-group col-6">
                <label for="yCoords">Y Coords</label>
                <input
                    id="yCoords"
                    name="yCoords"
                    class="form-control"
                    placeholder="Y Coords"
                    required
                />
            </div>
        </div>
        <hr />
        <h4>Grid system</h4>
        <div class="row">
            <div class="form-group col-4">
                <label for="rowsCount">Rows Count</label>
                <input
                    id="rowsCount"
                    type="number"
                    class="form-control"
                    placeholder="Rows Count"
                    min="1"
                    value="10"
                    required
                />
            </div>
            <div class="form-group col-4">
                <label for="colsCount">Columns Count</label>
                <input
                    id="colsCount"
                    type="number"
                    class="form-control"
                    placeholder="Columns Count"
                    min="1"
                    value="10"
                    required
                />
            </div>
            <div class="form-group col-4">
                <label for="rowHeight">Row height</label>
                <input
                    id="rowHeight"
                    type="number"
                    class="form-control"
                    placeholder="Row height"
                    min="1"
                    value="50"
                    required
                />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="images">Images</label>
            <input
                id="images"
                name="images"
                class="form-control portfolio-images"
                placeholder="Images"
                type="file"
                accept="image/*"
                multiple
                required
            />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <hr /><hr />
    <section>
       <h3>Current list</h3>
       <ul class="list-group" id="portfolios-list">
           <% portfolios.forEach(({ id, title }) => { %>
               <li class="portfolio-item list-group-item d-flex justify-content-between align-items-center" data-id="<%= id %>">
                   <%= title %>
                   <span class="badge badge-danger badge-pill delete">
                       <i class="fas fa-times delete"></i>
                   </span>
               </li>
           <% }) %>
       </ul>
    </section>
</article>

<script src="/js/fileHelpers.js"></script>
<script src="/js/imageAutopresenter.js"></script>
<script>
  (function () {
    var globalData = <%- JSON.stringify(page) %>
    var baseUrl = '<%= baseUrl %>';

    var rowsCount = document.getElementById('rowsCountGlobal');
    var colsCount = document.getElementById('colsCountGlobal');
    var rowHeightGlobal = document.getElementById('rowHeightGlobal');

    var sizes = document.getElementById('sizes');

    document.querySelector('form').addEventListener('submit', function (e) {
      e.preventDefault();
    });

    sizes.addEventListener('change', _fillGlobalStyles);
    _fillGlobalStyles();

    document.getElementById('update').addEventListener('click', function () {
      var body = Object.assign({}, globalData);

      body[sizes.value] = {
        rows_count: rowsCount.value,
        columns_count: colsCount.value,
        row_height: rowHeightGlobal.value + 'px'
      }

      axios.put(baseUrl + '/portfolio', body).then(function (res) {
        globalData = res.data;
      });
    });

    document.querySelector('form').addEventListener('submit', async function (e) {
      e.preventDefault();

      const body = {
        title: document.getElementById('title').value,
        description: document.getElementById('description').value,
        presentablePicture: await convertFileToImage(document.getElementById('presentablePicture').files[0]),
        mainPicture: await convertFileToImage(document.getElementById('mainPicture').files[0]),
        xCoords: document.getElementById('xCoords').value,
        yCoords: document.getElementById('yCoords').value,
        rowsCount: document.getElementById('rowsCount').value,
        columnsCount: document.getElementById('colsCount').value,
        rowHeight: document.getElementById('rowHeight').value + 'px',
      };

      const images = await Promise.all(
        Array.from(document.getElementById('images').files).map(async file => ({
          image: await convertFileToImage(file),
        }))
      );

      Array.from(document.getElementsByClassName('image-grid-data')).forEach((el, i) => {
        images[i].xCoords = el.querySelector('.xCoords').value;
        images[i].yCoords = el.querySelector('.yCoords').value;
      });

      body.images = images;

      await axios.post(baseUrl + '/portfolio', body).then(window.location.reload.bind(window.location));
    });

    document.getElementById('portfolios-list').addEventListener('click', function (e) {
      if (!e.target.classList.contains('delete')) return;
      if (!confirm('Are you sure you want to remove this item?')) return;

      var id = e.target.closest('.portfolio-item').dataset.id;
      axios.delete(baseUrl + '/portfolio/' + id).then(window.location.reload.bind(window.location));
    });

    function _fillGlobalStyles() {
      var size = sizes.value;
      var selectedData = globalData[size];

      rowsCount.value = selectedData.rows_count;
      colsCount.value = selectedData.columns_count;
      rowHeightGlobal.value = parseInt(selectedData.row_height);
    }
  })();
</script>
