<template id="img-coords">
    <div class="col-6 image-grid-data">
        <div class="form-group">
            <label>Size</label>
            <select
                name="size"
                class="sizes form-control"
            >
                <% sizes.forEach(({ id, name }) => { %>
                    <option value="<%= id %>"><%= name %></option>
                <% }); %>
            </select>
        </div>
        <% sizes.forEach(({ id }, i) => { %>
            <div class="coordData" data-id="<%= id %>" style="<%= i !== 0 ? 'display: none' : '' %>">
                <div class="form-group">
                    <label>X Coords</label>
                    <input
                        name="xCoords"
                        class="form-control xCoords"
                        placeholder="X Coords"
                        required
                    />
                </div>
                <div class="form-group">
                    <label>Y Coords</label>
                    <input
                        name="yCoords"
                        class="form-control yCoords"
                        placeholder="Y Coords"
                        required
                    />
                </div>
            </div>
        <% }); %>
    </div>
</template>
<article>
    <form action="<%= `${baseUrl}${activePage}/${portfolio.id}` %>" method="post">
        <h3>Add new</h3>
        <hr />
        <h4>Basic info</h4>
        <div class="form-group">
            <label for="title">Title</label>
            <input
                id="title"
                name="title"
                type="text"
                class="form-control"
                placeholder="Title"
                value="<%= portfolio.title %>"
                required
            />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                id="description"
                name="description"
                class="form-control"
                placeholder="Description"
                required
            ><%= portfolio.description %></textarea>
        </div>
        <div class="form-group">
            <label for="presentablePicture">Presentable picture</label>
            <input
                id="presentablePicture"
                name="presentablePicture"
                class="form-control"
                placeholder="Presentable picture"
                type="file"
                accept="image/*"
            />
            <div class="presenter-container">
                <div class="row" style="min-height: 200px; margin: 10px 0">
                    <div class="col-6">
                        <img class="img-fluid" src="<%= portfolio.presentable_picture %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="mainPicture">Main picture</label>
            <input
                id="mainPicture"
                name="mainPicture"
                class="form-control"
                placeholder="Main picture"
                type="file"
                accept="image/*"
            />
            <div class="presenter-container">
                <div class="row" style="min-height: 200px; margin: 10px 0">
                    <div class="col-6">
                        <img class="img-fluid" src="<%= portfolio.main_picture %>">
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h4>Position in page</h4>
        <div class="row">
            <div class="form-group col-6">
                <label for="xCoords">X Coords</label>
                <input
                    id="xCoords"
                    name="xCoords"
                    class="form-control"
                    placeholder="X Coords"
                    value="<%= portfolio.coords[0].y_coords %>"
                    required
                />
            </div>
            <div class="form-group col-6">
                <label for="yCoords">Y Coords</label>
                <input
                    id="yCoords"
                    name="yCoords"
                    class="form-control"
                    placeholder="Y Coords"
                    value="<%= portfolio.coords[0].y_coords %>"
                    required
                />
            </div>
        </div>
        <hr />
        <h4>Grid system</h4>
        <div class="row">
            <div class="form-group col-4">
                <label for="rowsCount">Rows Count</label>
                <input
                    id="rowsCount"
                    type="number"
                    class="form-control"
                    placeholder="Rows Count"
                    min="1"
                    value="<%= portfolio.rows_count %>"
                    required
                />
            </div>
            <div class="form-group col-4">
                <label for="colsCount">Columns Count</label>
                <input
                    id="colsCount"
                    type="number"
                    class="form-control"
                    placeholder="Columns Count"
                    min="1"
                    value="<%= portfolio.columns_count %>"
                    required
                />
            </div>
            <div class="form-group col-4">
                <label for="rowHeight">Row height</label>
                <input
                    id="rowHeight"
                    type="number"
                    class="form-control"
                    placeholder="Row height"
                    min="1"
                    value="<%= parseFloat(portfolio.row_height) %>"
                    required
                />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="images">Images</label>
            <input
                id="images"
                name="images"
                class="form-control portfolio-images"
                placeholder="Images"
                type="file"
                accept="image/*"
                multiple
            />
            <div class="presenter-container">
                <% portfolio.images.forEach((image) => { %>
                    <div class="row" style="min-height: 200px; margin: 10px 0">
                        <div class="col-6">
                            <img class="img-fluid" src="<%= image.src %>">
                        </div>
                        <div class="col-6 image-grid-data">
                            <div class="form-group">
                                <label>Size</label>
                                <select
                                    name="size"
                                    class="sizes form-control"
                                >
                                    <% sizes.forEach(({ id, name }) => { %>
                                        <option value="<%= id %>"><%= name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <% image.coords.forEach(({ id, x_coords, y_coords }, i) => { %>
                                <div class="coordData" data-id="<%= id %>" style="<%= i !== 0 ? 'display: none' : '' %>">
                                    <div class="form-group">
                                        <label>X Coords</label>
                                        <input
                                            name="xCoords"
                                            class="form-control xCoords"
                                            placeholder="X Coords"
                                            value="<%= x_coords %>"
                                            required
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label>Y Coords</label>
                                        <input
                                            name="yCoords"
                                            class="form-control yCoords"
                                            placeholder="Y Coords"
                                            value="<%= y_coords %>"
                                            required
                                        />
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</article>

<script src="/js/fileHelpers.js"></script>
<script src="/js/imageAutopresenter.js"></script>
<script>
  window.baseUrl = '<%= baseUrl %>';
  window.id = '<%= portfolio.id %>';
</script>
<script src="/js/portfolio-single.js"></script>
