<% include portfolioTemplates.ejs %>
<article>
    <form action="<%= `${baseUrl}${activePage}` %>" method="post">
        <h3>Add new</h3>
        <hr />
        <h4>Basic info</h4>
        <div class="form-group">
            <label for="title">Title</label>
            <input
                id="title"
                name="title"
                type="text"
                class="form-control"
                placeholder="Title"
                required
            />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                id="description"
                name="description"
                class="form-control"
                placeholder="Description"
                required
            ></textarea>
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <input
                id="color"
                name="color"
                type="color"
                class="form-control"
                required
            />
        </div>
        <div class="form-group">
            <label for="presentablePicture">Presentable picture</label>
            <input
                id="presentablePicture"
                name="presentablePicture"
                class="form-control"
                placeholder="Presentable picture"
                type="file"
                accept="image/*"
                required
            />
        </div>
        <div class="form-group">
            <label for="mainPicture">Main picture</label>
            <input
                id="mainPicture"
                name="mainPicture"
                class="form-control"
                placeholder="Main picture"
                type="file"
                accept="image/*"
                required
            />
        </div>
        <hr />
        <div id="image-sections"></div>
        <button id="add-section-btn" class="btn btn-light" type="button">Add section</button>
        <hr />
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <hr /><hr />
    <section>
       <h3>Current list</h3>
       <ul class="list-group" id="portfolios-list">
           <% portfolios.forEach(({ id, title }) => { %>
               <li class="portfolio-item list-group-item d-flex justify-content-between align-items-center" data-id="<%= id %>">
                   <%= title %>
                   <div>
                       <a class="btn btn-primary" href="<%= `${baseUrl}${activePage}/${id}` %>">Edit</a>
                       <span class="badge badge-danger badge-pill delete">
                           <i class="fas fa-times delete"></i>
                       </span>
                   </div>
               </li>
           <% }); %>
       </ul>
    </section>
</article>
<script src="/js/fileHelpers.js"></script>
<script src="/js/imageAutopresenter.js"></script>
<script>
  window.baseUrl = '<%= baseUrl %>';
</script>
<script src="/js/sectionControl.js"></script>
<script src="/js/portfolio.js"></script>
